<ion-view title="Compose" hide-back-button="true" hide-nav-bar="true" class="compose-message">
    <ion-header-bar align-title="center" class="bar-stable">
        <a class="button button-clear" ui-sref="main.contacts">
            <i class="icon ion-ios-arrow-back"></i>
            Contacts
        </a>
        <div class="h1 title">New Message</div>
        <a class="button button-clear" ng-click="clearForm();">
            Cancel
        </a>
    </ion-header-bar>

    <ion-content has-header="true" padding="true">

        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form name="form" novalidate="novalidate" ng-submit="sendMessage()">
            <div class="list">
                <div class="item item-input item-icon-right">
                    <span class="input-label">To:</span>
                    <span ng-click="openReciepientsPopover($event)">{{ recipients.contacts.length }} Contacts, {{ recipients.groups.length }} Groups </span>
                </div>
                <label class="item item-input validated">
                    <input ng-model="new_message.subject" name="subject" type="text" placeholder="Subject" required="required">
                </label>
                <label class="item item-input validated">
                    <textarea ng-model="new_message.body" name="body" placeholder="Message" rows="5" required="required"></textarea>
                </label>

                <div class="item item-divider" ng-show="emailAvailable">
                    Message type:
                </div>
                <ion-radio ng-show="emailAvailable" ng-model="new_message.messageType" ng-value="'push'">Push</ion-radio>
                <ion-radio ng-show="emailAvailable" ng-model="new_message.messageType" ng-value="'email'">Email</ion-radio>

                <button class="button button-positive button-full" ng-disabled="form.$invalid">Send</button>
            </div>
        </form>

    </ion-content>

</ion-view>

<script id="recepients-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">Message recepients</h1>
        </ion-header-bar>
        <ion-content class="padding message-to">
            <div class="list">
                <div class="item item-icon-right" ng-repeat="contact in messageTo(recipients.contacts)">
                    {{contact.fullname}}
                    <i class="icon ion-ios-minus-outline" ng-click="removeRecipient(contact, $event)"></i>
                </div>

                <div class="item item-icon-right" ng-repeat="group in messageToGroups(recipients.groups)"
                   href="#/main/groups/{{group.id}}">
                    {{group.name}}
                    <i class="icon ion-ios-minus-outline" ng-click="removeGroupRecipient(group, $event)"></i>
                </div>
            </div>
        </ion-content>
    </ion-popover-view>
</script>

<script id="selectType-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Choose message type</h1>
        </ion-header-bar>
        <ion-content class="padding">
            <p>This will send a message to the selected user's devices.</p>
            <a class="button button-positive button-full" ng-click="setMessageType('push')" ui-sref="main.messageCompose">Push Notification</a>
            <p>This will send a message to the selected user's email address's.</p>
            <a class="button button-positive button-full" ng-click="setMessageType('email')" ui-sref="main.messageCompose">Email</a>

            <button class="button button-stable button-full" ng-click="cancelMessageType()">Cancel</button>
        </ion-content>
    </ion-modal-view>
</script>