<ion-view title="Message">
    <ion-content has-header="true" padding="false">

        <div class="message-header">
            <div
                 class="message-from"
                 href="#/main/contacts/{{messageFrom(message.sender).email}}"
                    >From:
                {{(messageFrom(message.sender)) ? messageFrom(message.sender).fullname  : message.sender}}
            </div>
            <div class="message-to" ng-click="openReciepientsPopover($event)">To:
                <span ng-repeat="contact in messageTo(message.contacts)">{{contact.fullname}}</span>
            </div>
            <span class="message-date"><span>Sent:</span> {{messageDate(message.sent, 'MMM d, hh:mm')}}</span>
        </div>

        <div class="message-body">
            <p class="message-subject"><span>Subject:</span>{{message.title}}</p>
            <div ng-bind-html="message.message"></div>
        </div>

    </ion-content>

    <div class="tabs tabs-icon-top">
         <a class="tab-item" ng-show="messageFrom(message.sender)" ng-click="replyTo(message, $event)">
            <i class="icon ficon-reply"></i>
            Reply
        </a>
        <a class="tab-item" ng-show="messageFrom(message.sender)" ng-click="replyAll(message, $event)">
            <i class="icon ficon-reply-all"></i>
            Reply All
        </a>
        <a class="tab-item" ng-click="trashMessage(message, $event)">
            <i class="icon ion-ios-trash"></i>
            Delete
        </a>
    </div>
</ion-view>

<script id="recepients-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">Message recepients</h1>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <div class="item"
                     ng-repeat="contact in messageTo(message.contacts)"
                     ng-href="#/main/contacts/{{contact.email}}"
                     >
                    {{contact.fullname}}
                </item>
            </div>
        </ion-content>
    </ion-popover-view>
</script>