<ion-view title="Inbox">
    <div class="bar bar-subheader">
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search"
                   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                   ng-model="m.inboxSearch"
                   ng-model-options="{debounce: 300}">
            <i class="icon ion-ios-close placeholder-icon icon-right" ng-click="clearSearch()"></i>
        </div>
    </div>
    <ion-content has-header="true" class="has-subheader" padding="true">
        <ion-refresher on-refresh="load()"
                       pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing..."
                       refreshing-icon=" ">
        </ion-refresher>


        <p class="text-center" ng-show="messages.inbox.length < 1">No items.</p>
        <p class="padding" ng-hide="(messages.inbox.length < 1 || (messages.inbox | filter:m.inboxSearch).length)">No results for '{{m.inboxSearch}}'.</p>

        <ion-list>
            <ion-item
                    class="item item-icon-left item-message"
                    ng-class-even="item-even"
                    ng-repeat="message in messages.inbox | filter:m.inboxSearch | orderBy:'-id' track by $index"
                    href="#/main/message-detail/{{message.id}}">

                <i class="icon icon-small {{(!message.read) ? 'ion-ios-circle-filled':'ion-ios-circle-outline'}}"></i>

                <span class="item-note">{{messageDate(message.sent)}}</span>
                <h3 class="message-sender">{{(messageFrom(message.sender)) ? messageFrom(message.sender).first_name +' '+messageFrom(message.sender).last_name  : 'Admin'}}</h3>
                <p class="message-subject">{{message.title}}</p>
                <p>{{message.message}}</p>
                <ion-option-button class="button-primary" ng-click="toggleMessageRead(message)">
                    {{!message.read ? 'Read':'Unread'}}
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="trashMessage(message, $event)">
                    Trash
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>