<ion-view title="Select Message Type" ng-if="emailAvailable">

    <ion-content has-header="true" padding="true">

        <p>This will send a message to the selected user's devices.</p>
        <a class="button button-positive button-full" ng-click="setMessageType('push')" ui-sref="main.messageCompose">Push Notification</a>
        <p>This will send a message to the selected user's email address's.</p>
        <a class="button button-positive button-full" ng-click="setMessageType('email')" ui-sref="main.messageCompose">Email</a>

    </ion-content>

</ion-view>