<ion-view title="Sent" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a class="button-clear button" ng-click="clearComposeMode()">
            <i class="icon ion-ios-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <p class="" ng-show="messages.sent.length < 1">No items.</p>
        <ion-list>
            <ion-item
                    class="item"
                    ng-class-even="item-even"
                    ng-repeat="message in messages.sent track by $index"
                    ng-click="openReciepientsPopover(message, $event)"
                    >

                <span class="item-note">{{messageDate(message.sent)}}</span>
                <h3>To: {{sentToContacts(message)}}</h3>
                <p>Subject: {{::message.title}}</p>
                <p>{{::message.body}}</p>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>

<script id="sent-recepients-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">Recipients</h1>
        </ion-header-bar>
        <ion-content class="padding message-to">
            <div class="list">
                <div class="item item-icon-right" ng-repeat="contact in recipients">
                    {{contact.fullname}}
                </div>
            </div>
        </ion-content>
    </ion-popover-view>
</script>