<ion-view title="Trash">

    <ion-content has-header="true" padding="true">
        <p class="text-center" ng-show="messages.trash.length < 1">No items.</p>

        <ion-list>
            <ion-item
                    class="item item-icon-left item-message"
                    ng-class-even="item-even"
                    ng-repeat="message in messages.trash | orderBy:id track by $index"
                    >

                <i class="icon icon-small {{(!message.read) ? 'ion-ios-circle-filled':'ion-ios-circle-outline'}}"></i>

                <span class="item-note">{{messageDate(message.sent)}}</span>
                <h3 class="message-sender">{{(messageFrom(message.sender)) ? messageFrom(message.sender).first_name +' '+messageFrom(message.sender).last_name  : 'Admin'}}</h3>
                <p class="message-subject">{{::message.title}}</p>
                <p>{{::message.message}}</p>
                <ion-option-button class="button-assertive" ng-click="untrashMessage(message, $event)">
                    Un-Trash
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>