
<ion-view title="Auth" class="entry-page">

    <ion-content class="padding">

        <div class="app-logo">
            <img src="img/CDEM_logo.png" />
        </div>

        <p class="text-center">By logging into this app you agree to the <a href="#" ng-click="openTerms()">Terms of Use.</a></p>

        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form name="form" ng-submit="login()" role="form">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="email" ng-model="username" required  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password"ng-model="password" required  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </label>

                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="button button-positive button-block">Login</button>
            </div>
        </form>

        <a href="{{mailto}}" class="button button-default button-block">Request a Login</a>

    </ion-content>

</ion-view>

