<ion-view title="Entry" class="entry-page">

    <ion-content class="padding">

        <div class="app-logo">
            <img src="img/CDEM_logo.png" />
        </div>

        <p class="text-center">Checking login status and last update.</p>

    </ion-content>

</ion-view>