<ion-view title="Profile Page" class="profile-page">

    <ion-content has-header="true">

        <form name="form" novalidate="novalidate" ng-submit="updateProfile()">
            <div class="list">
                <div class="item item-divider">
                    <strong>CDEM Role</strong> (required*)
                </div>

                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">CDEM Role*</span>
                    <select ng-model="d.selected_cdem_group" ng-options="cdem_group.name for cdem_group in static_cdem_groups" required="required"></select>
                </label>
                <label class="item item-input item-stacked-label validated" ng-if="d.selected_cdem_group.children.length">
                    <span class="input-label">CDEM Sub Role*</span>
                    <select ng-model="d.selected_cdem_group_child" ng-options="o as o for o in d.selected_cdem_group.children" required="required"></select>
                </label>
                <br/>

                <div class="item item-divider">
                    <strong>Main profile information</strong> (required*)
                    <p>Please check your details are correct.</p>
                </div>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">First Name*</span>
                    <input ng-model="user.first_name" type="text" required="required">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Last Name*</span>
                    <input ng-model="user.last_name" type="text" required="required">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Email (not editable)</span>
                    <input ng-disabled="true" ng-model="user.email" type="text" required="required">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Company*</span>
                    <input ng-model="user.company" type="text" required="required">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Department</span>
                    <input ng-model="user.department" type="text">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Job Title</span>
                    <input ng-model="user.job_title" type="text">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">DDI Phone*</span>
                    <input ng-model="user.phone" type="text" required="required">
                </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Mobile Phone</span>
                    <input ng-model="user.mobile_phone" type="text">
                </label>
                <label class="item item-input item-stacked-label validated" ng-if="non_private_data" ng-repeat="(key, value) in non_private_data track by $index">
                    <span class="input-label">{{key.replace('_',' ')}}:</span>
                    <input ng-model="non_private_data[key]" type="text">
                    <!--<i class="icon ion-ios-close-empty placeholder-icon icon-right" ng-click="removeField(non_private_data, key)"></i>-->
                </label>

                <br/>
                <br/>
                <div class="item item-divider item-text-wrap">
                    <strong>Additional contact information</strong>
                    <p>Note: Home information is treated as 'private' and only shown to select people and groups.</p>
                </div>
                <div ng-if="private_data" class="item item-input item-icon-right item-stacked-label validated" ng-repeat="(key, value) in private_data track by $index">
                    <span class="input-label">{{key.replace('_',' ')}}:</span>
                    <textarea ng-model="private_data[key]"></textarea>
                    <!--<i class="icon ion-ios-close-empty placeholder-icon icon-right" ng-click="removeField(private_data, key)"></i>-->
                </div>

                <button class="button button-positive button-full" ng-disabled="form.$invalid || loading">Save profile</button>
                <a class="item text-center" ng-href="#" ng-click="logout()">Log out</a>

                <br/><br/>
            </div>
        </form>

    </ion-content>

</ion-view>