
<ion-view title="Splash" class="entry-page">

    <ion-content class="padding">

        <div class="app-logo">
            <img src="img/CDEM_logo.png" />
        </div>

        <p class="text-center">Loading...</p>

    </ion-content>

</ion-view>