<ion-view title="{{navTitle}}">
    <ion-nav-back-button></ion-nav-back-button>

    <ion-content  class="has-header has-tabs contacts-detail" has-header="true" padding="false">

        <div class="text-center contact-header">
            <h1>{{contact.first_name}} {{contact.last_name}}</h1>
            <p ng-show="contact.selected_cdem_group"><strong>{{contact.selected_cdem_group}}</strong> {{contact.selected_cdem_group_child}}</p>
        </div>

        <div class="list">
            <div class="item" ng-click="triggerEmail(contact.email)">
                Email:
                <span class="item-note">{{contact.email}}</span>
            </div>
            <div class="item" ng-click="triggerCall(contact.phone)">
                Phone:
                <span class="item-note">{{contact.phone}}</span>
            </div>
            <div class="item" ng-click="triggerCall(contact.mobile_phone)">
                Mobile:
                <span class="item-note">{{contact.mobile_phone}}</span>
            </div>
            <div class="item">
                Company:
                <span class="item-note">{{contact.company}}</span>
            </div>
            <div class="item">
                Department:
                <span class="item-note">{{contact.department}}</span>
            </div>
            <div class="item">
                Job Title:
                <span class="item-note">{{contact.job_title}}</span>
            </div>
            <div class="item item-text-wrap" ng-click="onExtraFieldClick(key, value, extra_fields)" ng-repeat="(key, value) in extra_fields">
                <span class="extra-field-title">{{ key | removeunderscores | cdemgroup }}:</span>
                <span class="item-note">{{value}}</span>
                <span class="clearfix"></span>
            </div>
        </div>

    </ion-content>

    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-click="toggleFavorite(contact, $event)">
            <i class="icon {{(contact.isFavorite) ? 'ficon-star':'ficon-star-empty'}}"></i>
            Favorite
        </a>
        <a  ng-show="(contact.phone || contact.mobile_phone)" class="tab-item" ng-click="showContactAvailableNumbers(contact, $event)">
            <i class="icon ion-ios-telephone"></i>
            Call
        </a>
        <a class="tab-item" ng-click="composeNewMessage(contact)">
            <i class="icon ficon-mail"></i>
            Message
        </a>
        <a class="tab-item" ng-show="contact.mobile_phone" ng-click="triggerSMS(contact.mobile_phone)">
            <i class="icon ficon-comment"></i>
            SMS
        </a>
    </div>
</ion-view>

<script id="showNumbers-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-header-bar>
            <h1 class="title">Available numbers</h1>
        </ion-header-bar>
        <ion-content class="padding">
            <div ng-repeat="number in availableNumbers track by $index" class="item text-center" ng-click="triggerCall(number)">{{number}}</div>
        </ion-content>
    </ion-popover-view>
</script>