<ion-view hide-nav-bar="true" class="contacts-search" ng-class="{'compose-mode':inComposeMode, 'not-compose-mode':!inComposeMode}">
    <ion-header-bar align-title="center" class="bar-stable">
        <div ng-include="'views/contacts/header.html'"></div>
    </ion-header-bar>

    <ion-content
            scroll="true"
            padding="false"
            delegate-handle="contacts"
            class="has-footer"
            ng-class="{'has-subheader':inComposeMode}"
            >

        <p class="padding" ng-hide="sorted_contacts.length">Currently you have no favourites set.</p>
        <div
            class="alpha_list"
            >
            <ion-item
                    class="item {{(!contact.letter) ? 'item-icon-left':'item-divider'}} "
                    collection-repeat="contact in sorted_contacts | filter:search.searchQuery"
                    collection-item-width="'100%'"
                    collection-item-height="getItemHeight(contact, $index)"
                    ng-style="{height: getItemHeight(contact, $index),width: '100%'}"
                    ng-click="contactClick(contact, $event)"
                    >
                <div ng-if="!contact.letter">
                    <i class="icon {{(contact.selected) ? 'ion-ios-checkmark':'ion-ios-circle-outline'}}"></i>
                    <h3>{{contact.first_name}} {{contact.last_name}}</h3>
                    <p ng-show="contact.selected_cdem_group"><strong>{{contact.selected_cdem_group}}</strong> {{contact.selected_cdem_group_child}}</p>
                </div>
                <div ng-if="contact.letter" id="index_{{::contact.letter}}">
                    {{::contact.letter}}
                </div>
            </ion-item>
        </div>

    </ion-content>

    <ul class="alpha_sidebar">
        <li ng-click="scrollToItem('{{letter}}', $event)"ng-repeat="letter in alphabet">
            {{letter}}
        </li>
    </ul>

    <div class="tabs tabs-icon-top" ng-include="'views/footer-tabs.html'"></div>
</ion-view>