<ion-view hide-nav-bar="true" class="groups-search" ng-class="{'compose-mode':inComposeMode, 'not-compose-mode':!inComposeMode}">
    <ion-header-bar align-title="center" class="bar-stable">
        <div ng-include="'views/contacts/header.html'"></div>
    </ion-header-bar>

    <ion-content
            padding="false"
            delegate-handle="groups"
            class="has-footer"
            ng-class="{'has-subheader':inComposeMode}"
            >

        <p class="padding" ng-hide="(groups | filter:search.searchQuery).length">No results for '{{search.searchQuery}}'.</p>

        <ion-list>
            <ion-item
                    class="item item-icon-left item-group"
                    ng-class-even="item-even"
                    collection-repeat="group in groups | orderBy: 'name' | filter:search.searchQuery"
                    collection-item-width="'100%'"
                    collection-item-height="groups_getItemHeight(item, $index)"
                    ng-style="{height: groups_getItemHeight(),width: '100%'}"
                    ng-click="groupClick(group, $event)"
                    >

                <i class="icon {{(group.selected) ? 'ion-ios-checkmark':'ion-ios-circle-outline'}}" ng-click="toggleGroupSelection(group, $event)"></i>
                <span class="item-note">({{group.number_contacts}})</span>
                <h3>{{group.name}}</h3>
            </ion-item>
        </ion-list>

    </ion-content>

    <div class="tabs tabs-icon-top" ng-include="'views/footer-tabs.html'"></div>
</ion-view>