<ion-view title="{{navTitle}}" >
    <ion-nav-back-button></ion-nav-back-button>

    <ion-content  class="has-header has-tabs group-detail" has-header="true" padding="false" delegate-handle="groups">

        <div class="text-center padding-vertical">
            <h1>{{group.name}}</h1>
        </div>

        <ion-list>
            <div class="item item-divider" ng-show="subgroups.length">
                Sub groups
            </div>
            <ion-item
                    class="item {{(inComposeMode) ? 'item-icon-left':''}}"
                    ng-class-even="item-even"
                    ng-repeat="subgroup in subgroups | orderBy: 'name'"
                    href="#/main/groups/{{subgroup.id}}">
                <i class="icon {{(subgroup.selected) ? 'ion-ios-checkmark':'ion-ios-circle-outline'}}" ng-show="inComposeMode" ng-click="toggleGroupSelection(subgroup, $event)"></i>
                <h3>{{subgroup.name}}</h3>
                <span class="badge badge-assertive">{{subgroup.contacts.length}}</span>
            </ion-item>
        </ion-list>

        <div class="item item-divider" ng-show="groupcontacts.length">
            Group contacts ({{groupcontacts.length}})
        </div>
        <ion-list>
            <ion-item
                    class="item {{(inComposeMode) ? 'item-icon-left':''}}"
                    ng-class-even="item-even"
                    collection-repeat="contact in groupcontacts | orderBy: 'first_name'"
                    collection-item-width="'100%'"
                    collection-item-height="getItemHeight(contact, $index)"
                    ng-style="{height: getItemHeight(contact, $index),width: '100%'}"
                    href="#/main/contacts/{{contact.email}}">

                <i class="icon {{(contact.selected) ? 'ion-ios-checkmark':'ion-ios-circle-outline'}}" ng-show="inComposeMode" ng-click="toggleContactSelection(contact, $event)"></i>

                <h3>{{contact.first_name}} {{contact.last_name}}</h3>
            </ion-item>
        </ion-list>


    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ng-click="composeGroupMessage(group)">
            <i class="icon ficon-mail"></i>
            Group Message
        </a>
    </div>

</ion-view>