<div ng-show="inComposeMode" class="bar bar-header bar-stable">
    <button class="button button-clear button-positive" ng-if="!messageType && inComposeMode" ng-click="clearComposeMode()">Cancel</button>
    <div class="h1 title">Select Recipients</div>
    <a class="button button-clear" ng-if="inComposeMode && (recipients.contacts.length || recipients.groups.length)" ng-href="#/main/message-compose">
        Continue
    </a>
</div>
<div ng-class="{'bar bar-subheader':inComposeMode}">
    <div class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search"
               tabindex="-1"
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
               ng-model="$parent.search.searchQuery"
               ng-model-options="{debounce: 300}">
        <i class="icon ion-ios-close placeholder-icon search-close" ng-click="clearSearch()"></i>
    </div>
</div>