<a class="tab-item" ui-sref="main.contacts" ui-sref-active="activated" ng-click="clearSearch()">
    <i class="icon ficon-user"></i>
    Contacts
</a>
<a class="tab-item" ui-sref="main.groups" ui-sref-active="activated" ng-click="clearSearch()">
    <i class="icon ficon-users"></i>
    Groups
</a>
<a class="tab-item" ui-sref="main.favourites" ui-sref-active="activated" ng-click="clearSearch()">
    <i class="icon ficon-star"></i>
    Favourites
</a>
<a ng-hide="inComposeMode" class="tab-item" ui-sref="main.profile">
    <i class="icon ficon-user-add"></i>
    Profile
</a>
<a ng-hide="inComposeMode" class="tab-item has-badge" ng-click="toggleMenu()">
    <span ng-show="unreadMessageCount" class="badge badge-assertive" >{{unreadMessageCount}}</span>
    <i class="icon {{(unreadMessageCount) ? 'ficon-mail':'ficon-mail'}}"></i>
    Messages
</a>