<ion-side-menus>
    <ion-pane ion-side-menu-content edge-drag-threshold="100">
        <ion-nav-bar class="bar-stable" animation="no-animation">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="main"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="right">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Messages</h1>
        </header>
        <ion-content class="has-header">

            <a class="item" menu-toggle="right" ng-click="enableComposeMode()" ng-href="#/main/contacts">New Message</a>
            <a class="item" menu-toggle="right" ng-href="#/main/message-inbox">
                <span ng-show="unreadMessageCount" class="badge badge-assertive" >{{unreadMessageCount}}</span>
                Inbox
            </a>
            <a class="item" menu-toggle="right" ng-href="#/main/message-sent">Sent</a>
            <a class="item" menu-toggle="right" ng-href="#/main/message-trash">Trash</a>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
