@font-face {
  font-family: 'fontello';
    src: url('../font/fontello.eot?93681639');
    src: url('../font/fontello.eot?93681639#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?93681639') format('woff'),
    url('../font/fontello.ttf?93681639') format('truetype'),
    url('../font/fontello.svg?93681639#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="ficon-"]:before, [class*=" ficon-"]:before {
  font-family: "fontello";
     font-style: normal;
     font-weight: normal;
     speak: none;

     display: inline-block;
     text-decoration: inherit;
     width: 1em;
     margin-right: 0;
     text-align: center;

     font-variant: normal;
     text-transform: none;

     line-height: 1.5;

     font-size: 75%;
 }
 
.ficon-users:before { content: '\e800'; } /* '' */
.ficon-user:before { content: '\e801'; } /* '' */
.ficon-user-add:before { content: '\e802'; } /* '' */
.ficon-mail:before { content: '\e803'; } /* '' */
.ficon-reply:before { content: '\e804'; } /* '' */
.ficon-reply-all:before { content: '\e805'; } /* '' */
.ficon-forward:before { content: '\e806'; } /* '' */
.ficon-comment:before { content: '\e807'; } /* '' */
.ficon-star-empty:before { content: '\e808'; } /* '' */
.ficon-star:before { content: '\e809'; } /* '' */
.ficon-th-list:before { content: '\e80a'; } /* '' */