body {
    color: #535353;
}
h1 {
    font-size: 180%;
    color: #2d3741;
}
h2 {
    font-size: 120%;
    color: #2d3741;
}
h3 {
    font-size: 120%;
    color: #2d3741;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #555!important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #555!important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #555!important;
}


/* HEADER TITLE */
.bar.bar-stable .title, .bar-stable .button, .bar-stable .button.button-clear {
    color: #fff !important; /* top bar text and icon color */
}

/* BACK ARROWS */
/* set above in HEADER TITLE */

/* HEADER */
.bar.bar-stable {
    background-color: #2d5892;
}

.not-compose-mode .bar.bar-stable > div {
    width: 100%;
}
.bar.bar-stable .item-input-wrapper {
    background-color: #004387;
    border: 0;
    margin-top: -2px;
    margin-right: 10px;
    margin-left: 10px;
    color: #4b72a4;
}
.platform-ios .bar.bar-stable .item-input-wrapper {
    margin: -5px 0 0;
}
.bar.bar-stable .item-input-wrapper input {
    background: transparent;
    color: #fff;
    width: 100%;
}
.bar.bar-stable .item-input-wrapper .icon {
    color: inherit;
    font-size: 150%
}
.bar.bar-stable ::-webkit-input-placeholder { /* WebKit browsers */
    color:    inherit!important;
}
.bar.bar-stable :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    inherit!important;
    opacity:  1;
}
.bar.bar-stable ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    inherit!important;
    opacity:  1;
}
.bar.bar-stable :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    inherit!important;
}

.bar.bar-subheader {
    background-color: #d9dfe5;
}
.bar.bar-subheader .item-input-wrapper {
    background-color: #fff;
    border: 0;
    margin-top: 0;
    margin-right: 2px;
    margin-left: 2px;
    color: #8b9daf;
}
.bar.bar-subheader .item-input-wrapper input {
    color: #8b9daf;
    width: 100%;
}

/* HEADER LINE */
.bar.bar-stable {
    border-bottom: 3px solid #fdef00;
    border: 0;
}


.tabs-top .search-bar {
    top: 94px;
}
.item {
    color: #2d3741;
    border-width: 1px 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item h3 {
    color: inherit;
    font-size: 100%;
    font-weight: 500;
}
.item p {
    color: #8996a3;
}
.item .icon {
    font-size: 160%;
}
.item-note {
    color: inherit;
}

.item-input {
    border-width: 0 0 1px;
    padding: 6px 10px 5px;
}
.item-stacked-label {
    padding: 6px 10px 14px;
}
.item-stacked-label .input-label {
    font-size: 85%;
    text-transform: capitalize;
}
.item-stacked-label input,
.item-stacked-label textarea {
    background: #eee;
    padding: 4px 8px 3px;
}
.icon.icon-small {
    font-size: 135%;
}
.extra-field-title {
    text-transform: capitalize;
}
.item.item-divider {
    padding: 5px 20px;
    background: #eff2f4;
    font-weight: bold;
}
.badge.badge-assertive {
    background-color: #4c8cfb !important;
}

.item.item-group {
    padding: 15px 16px;
}
.item.item-group .badge {
    top: 15px;
}
.menu .item .badge {
    top: 9px;
}

.not-compose-mode .item-icon-left {
    padding-left: 22px;
}
.contacts-search .item .icon,
.groups-search .item .icon {
    display: none;
}
.compose-mode .item-icon-left {
    padding-left: 54px;
}
.contacts-search.compose-mode .item-icon-left .icon,
.groups-search.compose-mode .item-icon-left .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.group-detail .item {
    padding-left: 20px;
}

.primary {
    color: #004387
}
.button.button-positive {
    border-color: #004387;
    background-color: #004387;
    color: #fff;
}
.tabs {
    background: #eaeef2;
}
.tabs .tab-item {
    opacity: 1;
    color: #90a1b2;
}
.tabs .icon {
    color: #90a1b2
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #3f8fe4
}
.tabs .activated .icon {
    color: #3f8fe4
}
.ion-ios-checkmark {
    color: #3f8fe4
}

.contacts-detail {

}
.contact-header {
    background-color: #eaeef2;
    color: #2d5892;
    line-height: 1.4;
    padding: 20px 10px;
}
.contact-header h1 {
    font-size: 130%;
    font-weight: bold;
    color: inherit;
    line-height: inherit;
    margin: 0;
}
.contact-header h2,
.contact-header h3 {
    font-size: 110%;
    font-weight: bold;
    color: inherit;
    line-height: inherit;
    margin: 0;
}
.contact-header h3 {
    font-weight: normal;
}
.contacts-detail .list {
    padding: 0;
}
.contacts-detail .list .item {
    font-size: 110%;
    font-weight: bold;
    color: #535353;
}
.contacts-detail .list .item-note {
    font-size: 100%;
    display: block;
    float: none;
    font-weight: normal;
}

.profile-page {
    background-color: #d9dfe5;
}
.profile-page .list .item {
    padding: 0 16px;
    border: none;
    padding: 8px 20px;
}
.profile-page .item.item-divider {
    padding: 20px;
    text-align: center;
    color: #2d5892;
    font-weight: normal;
}
.profile-page .item.item-divider p {
    color: #2d5892;
}
.profile-page .list .item .input-label {
    font-style: italic;
    padding: 0 5px;
}
.profile-page .list .item input,
.profile-page .list .item textarea {
    background-color: #fff;
    color: #636363;
}

.pane {
    -webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    5px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         5px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.menu .scroll-content {
    background-color: #d9dfe5;
}
.menu .scroll-content .scroll {
    background-color: #fff;
}


.message-header {
    background-color: #eaeef2;
    color: #2d5892;
    line-height: 1.4;
    padding: 16px 20px;
}
.message-from {
    font-weight: bold;
    margin-bottom: 5px;
}
.message-to {
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.message-to a {
    display: inline-block;
    padding: 2px 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    background-color: #ccc;
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}
.message-to span:after {
    margin: 0;
    padding: 0;
    content: ",";
}

.message-date {

}
.message-date span {
    font-weight: bold;
}
.message-subject {
    font-size: 140%;
}
.message-subject span {
    display: none;
}
.message-body {
    padding: 20px;
}


.alpha_sidebar{
    position: absolute;
    top:44px;
    right: 	5px;
    z-index: 100000;
}
.platform-ios .alpha_sidebar {
    top: 65px;
}
.alpha_sidebar li{
    color: #7391ae;
    margin: 0px;
    cursor: pointer;
    font-size: 80%;
    line-height: 1.4;
    text-align: center;
    display: block;
    padding: .8px 5px;
}
@media screen and (max-device-width: 480px) or (max-width: 480px) and (orientation:portrait) {
    .alpha_sidebar li:nth-child(5n-7) {
        display: none;
    }
}

.compose-mode .alpha_sidebar {
    top: 114px;
}
@media screen and (max-device-width: 480px) or (max-width: 480px) and (orientation:portrait) {
    .compose-mode .alpha_sidebar li {
        display: block;
    }
    .compose-mode .alpha_sidebar li:nth-child(5n-7) {
        display: none;
    }
}
@media screen and (min-device-width: 480px) or (min-width: 480px) and (orientation:portrait) {
    .compose-mode .alpha_sidebar li {
        display: block;
    }
    .compose-mode .alpha_sidebar li:nth-child(7n-7) {
        display: none;
    }
}
.alpha_list{
    padding-right: 30px;
}

.entry-page {
    background: url('../img/img-background.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}
.entry-page .scroll-content {
    padding: 50px;
}
.entry-page .app-logo {
    margin: 30px 0 60px 0;
}
.entry-page .app-logo img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.entry-page .list-inset {
    background: transparent;
}
.entry-page p a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.entry-page .item {
    background: transparent;
    font-size: 100%;
    padding: 5px;
    border-width: 1px 0;
}
.entry-page .input-label {
    font-size: 100%;
    color: #fff;
}
.entry-page .item input {
    font-size: 100%;
    color: #fff;
    padding-right: 0 !important;
}
.entry-page .button {
    margin: 15px 0;
    min-height: 37px;
}
.entry-page .alert {
    background: #fff;
    color: darkred;
    padding: 5px;
}

.profile-page input.ng-invalid-required{
    border: 1px solid darkred;
    background-color: #f8bac9 !important;
}

.compose-message .item {
    padding: 0;
}
.compose-message .item .item-content {
    padding: 10px 0 10px 2px;
}
.compose-message .item-radio .radio-icon {
    padding: 2px 10px;
}

.item-input select {
    width: 100%;
    display: block;
}