body > .header .logo {
    text-indent: -9999px;
    overflow: hidden;
    background: url('../img/northlandcdem_logo.jpg') center no-repeat !important;
    background-size: contain !important;
    margin-top: 5px;
    height: 40px;
}


div.small-box,
.skin-blue .navbar,
.header,
.form-box .header,
.bg-olive {
    background: #2d5892 !important;
}

a {
    color: #2d5892;
}

.box-links {
    padding: 10px;
}

h4.box-title {
    display: inline-block;
}

a.link {
    text-decoration: underline;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

textarea.message {
    width: 600px;
    height: 150px;
}
td.top {
    vertical-align: top;
}

ul.csv {
  display: inline;
  list-style: none;
}
ul.csv li {
  display: inline;
}
ul.csv li:after {
  content: ", ";
}
ul.csv li:last-child:after {
    content: "";
}

.dataTables_filter {
    float:left;
}
.dataTables_length {
    float:right;
}

#private_data_table td,
#non_private_data_table td {
    padding: 0 5px 7px 0;
}
#private_data_table input,
#non_private_data_table input {
    padding: 6px 12px;
}
